@import 'basic/_normalize.scss';
@import 'basic/_fonts.scss';
@import 'layout/_header.scss';
@import 'layout/_real.scss';
@import 'layout/_brands.scss';
@import 'layout/_than.scss';
@import 'layout/_has.scss';
@import 'layout/_loudest.scss';
@import 'layout/_keep.scss';
@import 'layout/_email.scss';
@import 'layout/_footer.scss';
@import 'layout/_media.scss';
body {
    background-color: #fff;
}
.wrapper {
   
    display: grid;
    min-height: 100vh;
    grid-template:minmax(100px, auto) 1fr  minmax(100px, auto) / 1fr;
    font-family: 'Poppins',sans-serif;
    grid-template-areas: "header"
                         "main"
                         "footer";
                         
}
.header {
    display: grid;
    grid-area:header;
    grid-template:1fr/ 1fr minmax(200px,1170px) 1fr;
    
}
.main {
    grid-area:main;
    display: grid; 
 
}
.footer {
    grid-area:footer;
    

}
.title {
    font-size: 60px;
    line-height: 140%;
    text-transform: capitalize;
}
.button {
padding: 15px 30px;   
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 3px;
color:#fff;
text-transform: capitalize;
}