.has {
    display: grid; 
    padding: 0 15px;
    margin-top: 140px;
    &__body {
        display: grid;
        
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .item-has {
        &:first-child {
            display: grid;
            justify-content: center;
            position: relative;
            z-index: 1;
        }
        &:last-child {
            padding: 0 15px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #1D92FF;
            max-width: 470px;
            
        }
        &__title {
            font-size: 39px;
            line-height: 140%;
            text-transform: capitalize;
            color: #01070D;
            max-width: 470px;
            margin-bottom: 60px;
            
            span {
                font-weight: bold;
            }
        }
    }
}

.menu  {
    max-width: 470px;
    margin: 0 auto;
    border: 1px solid rgba(1, 7, 13, 0.1);
    border-radius: 10px;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    &__content {
        display: none;
        background-color: #fff;
    }
    &__element {
        font-size: 16px;
        color: #01070D;
    }
    .material-symbols-outlined{
        transition: transform 0.5s ease;
        margin-right: 25px;
        display: flex;
        align-items: center;
    }  
    &__items {
        background-color: #E5E5E5;
        padding: 20px 0 20px 25px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    } 
    &__item {
        padding: 0 25px 20px 35px;
        a {
            border-bottom: 1px solid #1D92FF ;
        }
    }
}
.menu.active .material-symbols-outlined{
    transform: rotate(-180deg);
    color:#1D92FF;
}
.menu.active { 
    .menu__items{
    background-color: #fff;
}
    .menu__element {
        color:#1D92FF;
        font-size: 20px;
        font-weight: 600;
    }

}



.images-item {
    position: relative;
    &__bg {
        position: relative;
        img {
            position: absolute;
            width: 100%;
        }
    }
    &__center {
        position: relative;
        z-index: 1;
        img {
            background: #FFFFFF;
            border-radius: 10px;
            padding: 30px 30px 70px 30px;
            margin-top:140px;
            max-width: 540px;
            margin-left: 100px;
        }
    }
    &__left {
        img {
            position: absolute;
            top: 170px;
            background: #fff;
            padding: 30px 25px;
            z-index: 1;
            border-radius: 10px;
        }
    }
    &__right {
        img {
            position: absolute;
            bottom: -30px;
            background: #fff;
            padding: 35px ;
            z-index: 2;
            border-radius: 10px;
            left: 50%;
        }
    }
}
